body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body div.project-container{
    display: flex;
    height: 100%;
}
div.project-container div.img-container img.side-background{
   position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
div.project-container  div.img-container{
    position: relative;
    width: 40%;
    display: flex;
    align-items: flex-start;
}
div.project-container div.img-container div.logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 250px;
    background-color: #1f1a1a7a;
}

 div.project-container div.img-container img.logo-img{
    width: 20%;    
} 
div.project-container div.img-container h1.logo-header{
    font-size: 4rem;
    color: #fafafa;
    font-family:'Minion Pro';
}
div.project-container div.form-container{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
div.project-container div.form-container div.header{
    height: 35%;
    font-size: 24px;
    font-family:'Minion Pro';
    padding: 30px;
    background-color: #f6f6f6;
} 

div.project-container div.form-container form.form-class{
    height: 30%;
    padding-left: 71px;
}
div.project-container div.form-container div.footer{
    height: 35%;
}
div.project-container div.form-container div.header h2.header-text-1 {
    margin-top: 12%;
    margin-right: 25px;
}
div.input-container{
    display: flex;
    gap: 25px;

}
div.input-container section{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 35%;
}
div.input-container section li{
    display: flex;
    flex-direction: column;
    list-style-type: none;
} 
div.input-container section li label{
    color: #221e1ecc;
    font-weight: 600;
}
div.input-container section input{
    height: 30px;
}
div.project-container div.form-container div.header h2{
    font-size: clamp(16px, 36px, 4vw);
}
div.project-container div.form-container div.header h2.header-text-2 {
    font-style: italic;
}
div.project-container div.form-container form.form-class .form-header{
    font-size: clamp(16px, 36px, 4vw);
    color: #353232cc;

}